:root {
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  color: #000000;
  background-color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
