#mainpage
{
    top: 49px;
    position: relative;
}

#intro-list-img
{
    width: 349px;
    height: 113.484px;
    margin: auto;
}
#background-introduce
{
    top: 100;
    position: relative;
    width: 100%;
   height : 143.53px;
    background-image:url('../img/picture/background-intro.jpg');
    padding: auto;
    display: flex;
}
