.overplayed
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s ;
}

.left-nav
{
    z-index: 1;
    position: fixed;
    right:0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #061d25;
    color: #ccbe91;
    max-width: 100%;
    transform: translateX(100%);
    transition: transform linear 0,2s;
}
#nav-header
{
    width: 100%;
    height: 3rem;
    background-color: black;
}
.close-nav
{
    margin: 10px;
    background-color: #ccbe91;
    padding: 6px;
    position: absolute;
    top: 0;
    right: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 50%;
}


#line1
{
    transform: rotate(45deg);
    margin: 5px 0px;
}
#line2
{
    position: absolute;
    transform: rotate(-45deg);
    margin: 5px 0px;
}
.nav__input
{
  display: none;
}

.nav__input:checked~.overplayed
{
    display: block;
}

.nav__input:checked ~ .left-nav
{
    transform: translateX(0);
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.nav-content
{
    padding: 10px 15px;
    line-height: 2;
    font-weight: 600;
}