.nav-content-pc
{
    display: none;
}
@media (min-width: 1023px)
{
    .nav-content-pc
    {
        display: block;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        color: white;
        height: 98%;

    }
    .container
    {
        display: flex;
        justify-content: center;
       
      
    }
    .nav-logo
    {
        left : 0px;
        position: absolute;
    }
    .nav-list
    {
        margin: 18px 30px;
        color: tan;
        font-weight: 600;
        text-align: center;
    }
    
}